/*

===============================
CSS Mobile Layout Page Contents:
===============================

Page Layout
Header 
Nav 
Content
Aside
Footer

===============================
Notes:
===============================

*/

/* -- Global Layout Classes -- */

ul, li, div, body {
    padding: 0;
    margin: 0;
    }

.nav-list {
    text-align: center;
}

.nav-list > li {
    text-align: center;
    display: block;
}

/* -- Page Layout -- */

body {
    height: 100vh;
}

#pageContainer {

    max-width: 100%;
    height: 100vh;
    margin: auto;
}

header {
    min-height: 28%;
}

article {
    height: 72%;
    width: 100%;
    overflow:auto;
}
    
aside {
    width: 100%;
    text-align: center;
    overflow: auto;
}
    
footer {
    height: 28%;
}

/* @supports () {} */


/* -- Header -- */

#pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.quick-link {}

/* nav div */
#menuSlide:target {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #660000;
    overflow: hidden;
    z-index: 1;
}

#menuSlide:not(:target){
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    opacity: 0;
}

/* search div */
#searchSlide:target {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 72%;
    opacity: 1;
    background: #660000;
    transition: opacity 1s;
    z-index: 1;
}

#searchSlide:not(:target) {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    opacity: 0;
}

#searchSlide input[type="search"] {
    width: 100%;
}

#searchSlide form {
    display: flex;
    text-align: right;
}

/* login div */
#loginModal:target {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 1;
    background: #ffcc33;
    transition: opacity 1s;
    z-index: 1;
}
    
#loginModal:not(:target) { 
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    opacity: 0;
}

#loginModal fieldset {
    margin: 50px 10px; 
}

#loginModal legend {
    text-align: center;
}

input[type="text"], input[type="password"] {
 width: 100%
}

#loginModal input[type="submit"], #loginModal button {
    margin-left: 40%;
}

/* -- Nav -- */

ul#pageNav.nav-list{
    margin: 0;
}

.nav-tab {
    display: block;
}
  
.dropdown-content {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.dropdown-content > li {
    display: block;
}

/* nested lists will appear if mouseover or tab focus */ 
li:focus > .dropdown-content {
    position: relative;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 100%;
}

/* IMPORTANT! added as a seperate selector, not supported in IE and Edge and breaks nav styling when grouped */
li:focus-within > .dropdown-content {
    position: relative;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 100%;
}

/* -- Article -- */

#pageArticle p {
    padding: 0 20px;
    text-align: justify
}

#pageArticle {
    text-align: center
}

#pageArticle img {
    width: 100%;
}

/* -- Aside -- */

.absolute {
    position: absolute;
    left: 15px;
}

#asideSlide {
    width: 100%;
    height: 50px;
    overflow: hidden;
}
       
#asideSlide:target {
    height: 100%;
    width: 100%;
    overflow: auto; /* scroll for mobile devices */
}
       
.aside {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

/* mobile viewing */
.aside > div {
    width: 100%; /* doesn' work on form */
    align-content: center;
}

/* -- Email Form -- */

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.center form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgba(255,255,255,0.5);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    width: 95%
}

.center label {
    width: 50%
}

/* -- Footer -- */
#pageFooter ul {
    font-size: 1.5em;
    line-height: 1.5
}
