/*

===============================
CSS Tablet Layout Page Contents:
===============================

Page Layout
Header 
Nav 
Content
Aside
Footer

===============================
Notes:
===============================

*/

/* -- Global Layout Classes -- */

ul, li, div, body {
    padding: 0;
    margin: 0;
    }

.nav-list {
    text-align: center;
}

.nav-list > li {
    text-align: center;
    display: inline-block;
}

/* -- Page Layout -- */

body {
    height: 100vh;
}

#pageContainer {

    max-width: 100%;
    height: 100vh;
    margin: auto;
}

header {
    min-height: 24%;
}
          
nav {
    height: 5%;
}
            
article {
    height: 53%;
    width: 100%;
    overflow:auto;
}
    
aside {
    width: 100%;
    min-height: 9%;
    text-align: center;
}
    
footer {
    height: 4%;
}

/* @supports () {} */


/* -- Header -- */

#pageHeader {
    display: flex;
    justify-content: flex-end;
}

.quick-link {
    display: none;
}


#searchSlide {
    display: inline-block;
}

#loginModal:target {
    position: fixed;
    top: 3%;
    opacity: 1;
    border: #ffcc33 solid 1px;
    border-radius: 5px;
    background: #ffcc33;
    transition: opacity 1s;
    overflow: hidden;
}
    
#loginModal:not(:target) { 
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    opacity: 0;
}

/* -- Nav -- */

.close-button {
    display: none;
}

ul#pageNav.nav-list{
    margin: 0;
}

.nav-tab {
    display: inline-block;
    padding-top: 5px;
    width: 19%
}
  
.dropdown-content {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.dropdown-content > li {
    display: inline-block;
    padding-top: 5px;
    width: 20%;
}

/* nested lists will appear if mouseover or tab focus */ 
li:focus > .dropdown-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 3%;
}

/* IMPORTANT! added as a seperate selector, not supported in IE and Edge and breaks nav styling when grouped */
li:focus-within > .dropdown-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 3%;
}

/* -- Article -- */

#pageArticle p {
    padding: 0 20px;
    text-align: justify
}

#pageArticle {
    text-align: center
}

/* -- Aside -- */

.absolute {
    position: absolute;
    left: 50%;
    font-size: 30px;
}

#asideSlide {
    width: 100%;
    height: 50px;
    overflow: hidden;
}
       
#asideSlide:target {
height: 100%;
width: 100%;
overflow: hidden; /* scroll for mobile devices */
}
       
.aside {
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

/* mobile viewing */
.aside > div {
    width: 25%; /* doesn' work on form */
    align-content: center;
}

.aside img {
    width: 100%;
}

/* -- Email Form -- */

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.center form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgba(255,255,255,0.5);
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    width: 95%
}

.center label {
    width: 50%
}


/* -- Footer -- */

#pageFooter ul li {
    width: 19%
}
