/*

===============================
CSS Laptop Layout Page Contents:
===============================

Page Layout
Header 
Nav 
Content
Aside
Footer

===============================
Notes:
===============================

*/

/* -- Global Layout Classes -- */

ul, li, div, body {
    padding: 0;
    margin: 0;
    }

.nav-list {
    text-align: center;
}

.nav-list > li {
    text-align: center;
    display: inline-block;
}

/* -- Page Layout -- */

body {
    height: 100vh;
}

#pageContainer {

    min-width: 1240px;
    max-width: 80%;
    height: 100vh;
    margin: auto;
}

header {
    min-height: 27%;
}
          
nav {
    min-height: 8%;
}
            
article {
    float: left;
    height: 64%;
    width: 70%;
    overflow:auto;
}
    
aside {
    float: left;
    height: 64%;
    width: 30%;
    text-align: center;
    overflow: auto;
}
    
footer {
    clear: left;
    height: 4%;
}

/* @supports () {} */


/* -- Header -- */

#pageHeader {
    display: flex;
    justify-content: flex-end;
}

.quick-link {
    display: none;
}


#searchSlide {
    display: inline-block;
}

#loginModal:target {
    position: fixed;
    top: 3%;
    opacity: 1;
    border: #ffcc33 solid 1px;
    border-radius: 5px;
    background: #ffcc33;
    transition: opacity 1s;
    overflow: hidden;
}
    
#loginModal:not(:target) { 
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    opacity: 0;
}

/* -- Nav -- */

.close-button {
    display: none;
}

ul#pageNav.nav-list{
    margin: 0;

}

.nav-tab {
    display: inline-block;
    width: 18%;
    padding-top: 5px;
}
  
.dropdown-content {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.dropdown-content > li {
    display: inline-block;
    width: 15%;
}

/* nested lists will appear if mouseover or tab focus */ 
li:focus > .dropdown-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 4%;
}

/* IMPORTANT! added as a seperate selector, not supported in IE and Edge and breaks nav styling when grouped */
li:focus-within > .dropdown-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: auto;
    width: 100%;
    height: 4%;
}

/* -- Article -- */
.article-header {
float: left;
width:50%
}
.content {
float: left;
width:50%
}


/* -- Aside -- */

#asideButton {
display: none;
}

.text-overlay {
    float: left;
    width: 50%;
}

.text-overlay img {
    width: 90%;
}

.center {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* -- Footer -- */

#pageFooter ul li {
    width: 18%;
}